html {
	background-color: #191919;
}
body {
	/*background-color: #191919;*/
	color: #ff0;
	
}
button {
    border: none;
}
.buildingsPanel {
    /*background-color: gray;*/
    float: left;
    width: 30%;
}
.mainPanel {
    float: left;
    width: 40%;
    text-align: center;
    height: 900px;
    diplay: block;
    /*background-color: lightsteelblue;*/
}
.upgradesPanel {
    float: left;
    width: 30%;
    height: 900px;
    /*background-color: lightgreen;*/
}
.mainCookie {
    position: fixed;
    height: 200px;
    width: 200px;
    top: 40%;
    margin-top: -100px;
    margin-left: -100px;
}
.mainCookie:hover {
	height: 204px;
    width: 204px;
    margin-top: -102px;
    margin-left: -102px;
}
.mainCookie:active {
    height: 198px;
    width: 198px;
    margin-top: -99px;
    margin-left: -99px;
}
.mainCookie:focus {
	outline: 0;
}
.counter {
	position: relative;
	top: 23%;
}
.clickRate {
	position: relative;
	top: 22%;
}
.buyButton {
	background-color: #987654;
	border-radius: 30px;
	width: 100px;
	height: 50px;
    margin-bottom: 3px;
}
.buyButton:hover {
	background-color: #a87664;
}
.buyButton:active {
	background-color: #888644;
}
.buyButton:focus {
	outline: 0;
}