html {
	background-color: #191919;
}
body {
	background-color: #191919;
	color: #c0c0c0;
	
}
.mainButton {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: #009999;
}
.mainButton:hover {
	background-color: #10a9a9;
}
.mainButton:active {
	background-color: #008989;
}
.mainButton:focus {
	outline: 0;
}
.counter {
	position: fixed;
	top: 50%;
	left: 53%;
}
.clickRate {
	position: fixed;
	top: 40%;
	left: 47%;
}
.buyButton {
	background-color: #987654;
	border-radius: 30px;
	width: 100px;
	height: 50px;
}
.buyButton:hover {
	background-color: #a87664;
}
.buyButton:active {
	background-color: #888644;
}
.buyButton:focus {
	outline: 0;
}