<!DOCTYPE html>
<html ng-app="gameApp">
<head>
    <title>Game</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body ng-controller="gameController">
<!--<button class="btn1" ng-click="startGame()" ng-hide="name.length > 0">Start Game</button>-->
<button class="monster" ng-click="fight($index)" ng-repeat="monster in monsters">{{monster.difficulty}}</button>
{{monsters[i].difficulty}}  {{monsters[i].health}}  {{monsters[i].damage}}

</body>
</html>