html {
    background-color: #576a79;
}
body {
    color: white
}
.startButton {
    width: 200px;
    height: 100px;
    top: 30%;
    left: 50%;
    position: absolute;
    margin-left: -100px;
    border-radius: 10%;
    border-width: 0px;
    background-color: #22aa22;
}
.startButton:hover { background-color: #3b3 }
.startButton:active { background-color: #191 }
.startButton:focus { outline: 0px; }
.monster {
    width: 100px;
    height: 50px;
    border-radius: 10%;
    border-width: 0px;
    background-color: #c33;
    margin: 2px;
}
.monster:hover { background-color: #d44 }
.monster:active { background-color: #b22 }
.monster:focus { outline: 0px; }